body{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
    background-color: rgb(27, 27, 27);
    padding-left: 340px;
    padding-right: 100px;
}
button{
    cursor: pointer;
}