#content{
    margin-top: 132px;
    margin-left: 340px;
    margin-right: 50px;
}
.mood-button-bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    overflow-x: scroll;
}
.mood-button-bar::-webkit-scrollbar{
    display: none;
}
.mood-button{
    background-color: rgba(153, 153, 153, 0.489);
    border: none;
    margin-right: 12px;
    font-size: 14px;
    backdrop-filter: blur(5px); 
    color: white;
    font-weight: 300;
    padding: 9px 12px;
    border-radius: 8px;    
}
.heading{
    display: flex;
    padding-top: 32px;
}
.heading-right{
    margin-left: 12px;
    flex: 1;
}
.profile-img{
    height: 56px;
    width: 56px;
    border-radius: 50%;
}
.userName{
    font-weight: 400;
    color: #aaa;
    font-size: 14px;

}
.title{
    margin-top: 2px;
    font-weight: 500;
    font-size: 34px;
}
.nav-button{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.nav-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid rgba(153, 153, 153, 0.489);
    background-color: rgb(0, 0, 0);
}
.row-container{
    flex:1;
    margin-bottom: 56px;
}
.left,.right{
    height: 12px;
    width: 12px;
    fill: rgb(170, 170, 170);
    transition: fill 0.23s;
}
.left:hover,.right:hover{
    fill: white;
}
.song-list-container{
    margin-top: 30px;
    overflow-x:scroll;
    display: flex;
}
.song-list-container::-webkit-scrollbar{
    display: none;
}
.song-container{
    width: 100%;
    margin-right: 24px;
    object-fit: contain;
}
.song-container p{
    line-height: 23px;
    margin: 0;
}
.song-name{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.publisher-name,.total-views{
    display: inline-block;
    color: rgba(255, 255, 255, 0.489);
    font-size: 100;
}
.publisher-name{
    transition:text-decoration-line 0.3s;
}
.publisher-name:hover{
    cursor: pointer;
    text-decoration-line: underline;
}
.song-thumbnail-container{
    position: relative;
    transition: opacity 200ms;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
}
.song-thumbnail-container:hover button{
    opacity: 1;
}
.song-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
} 
.hover-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
}
.hover-three-dot-button{
    top: 5px;
    right: 5px;
    background-color: transparent;
    transition:background-color 200ms;
}
.hover-three-dot-button:hover{
    background-color: rgba(165, 165, 165, 0.578);
}
.hover-play-button{
    background-color: rgba(0, 0, 0, 0.519);
    bottom: 20px;
    right: 20px;
    transition: scale  200ms ,background-color 200ms;
}
.hover-play-button:hover{
    background-color: black;
    scale: 1.3;
}
.grid-thumbnail{
    display: flex;
    align-items: center;
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}
.grid-image-thumbnail{
    width: 100%;
    border-radius: 4%;
}
.music-img-container{
    position: relative;
    display: flex;
    align-items: center;
    object-fit:contain;
    justify-content: center;
    margin-bottom: 30px;
}
 .music-img-container img{
    max-width: 100%;
    height: auto;
}
