.top-bar{
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    left: 240px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.search-bar{
    display: flex;
    flex: 1;
    margin-left: 100px;
    max-width: 542px;
}
.search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 42px;
    width: 50px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
    background-color: rgba(240, 248, 255, 0.338);
    backdrop-filter: blur(10px);
}
.search-svg-icon{
    fill: rgba(255, 255, 255, 0.496);
}
.search-box{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: none;
    padding: 0 0 0 5px;
    background-color: rgba(240, 248, 255, 0.338);
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.982);
    display: flex;
    flex: 1;
    height: 40px;
    font-size: 16px;
    font-weight: 400;

}
.search-bar::placeholder{
    color: rgb(220, 220, 220);
}
.search-box:focus{
    outline: none;
    background-color: black;
    backdrop-filter: none;
}
.profile{
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-between;
    margin-right: 70px;
}
.chromecast-button{
    background-color: transparent;
    border: none;
}
.profile-picture{
    height: 26px;
    width: 26px;
    border-radius: 50%;
    cursor: pointer;
}